<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填字游戏</title>
</head>
<script src="js/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/network.js"></script>
<link rel="stylesheet" href="css/crosswordPuzzle.css">
<body>
<div class="header">2020年中國文化常識有獎線上遊戲</div>
<div id="app">
    <div id="appMid">
        <div class="left tips">
            <div class="tipTitle">横排</div>
            <div class="tipSpan">提示：</div>
            <div class="tipItem leftTips" v-for="i in tipsL">{{i}}</div>
        </div>

        <div class="center">
            <div class="mid">
                <div v-for="(down,Y) in 21" :id="downId(Y)" class="down">
                    <div v-for="(across,X) in 20" :id="item(Y,X)" class="item"
                    ></div>
                </div>
            </div>
        </div>
        <div class="right tips">
            <div class="tipTitle">竖排</div>
            <div class="tipSpan">提示：</div>
            <div class="tipItem rightTips" v-for="i in tipsR">{{i}}</div>
        </div>
    </div>
    <div @click="handelBtn" id="doneBtn">完成</div>
</div>
<div class="footer">2020-澳門特區工作委員會</div>
</body>
<script src="js/crosswordPuzzle.js"></script>
</html>